{# Cargamos la librería #}
  {% load bootstrap4 %}
 
  {# CSS Bootstrap #}
  {% bootstrap_css %} 

  {# Widget Tweaks #}
  {% load widget_tweaks %}

<h4>Detalles</h4>
 
<p><span class="txt_negrita">Codigo de empresa:</span> <br> {{object.idempresa}}</p>
<p><span class="txt_negrita">Nombre:</span> <br> {{object.nombre}}</p>
<p><span class="txt_negrita">Dirección:</span> <br> {{object.direccion}}</p>
<p><span class="txt_negrita">Código postal:</span> <br> {{object.codigopostal}}</p>
<p><span class="txt_negrita">Sitio web:</span> <br> {{object.sitioweb}}</p>
<p><span class="txt_negrita">Nombre contacto:</span> <br> {{object.nombrecontacto}}</p>
<p><span class="txt_negrita">Número contacto:</span> <br> {{object.numerocontacto}}</p>
<p><span class="txt_negrita">Nit:</span> <br> {{object.nit}}</p>
<p><span class="txt_negrita">Correo:</span> <br> {{object.correo}}</p>
<p><span class="txt_negrita">Creado:</span> <br> {{object.created_at}}</p>
<p><span class="txt_negrita">Actualizado:</span> <br> {{object.updated_at}}</p>
 
<!-- Botón para volver a la vista principal (Home) -->
<a href="../" type="submit" class="btn btn-primary">Volver</a>
