{# Cargamos la librería #}
  {% load bootstrap4 %}
 
  {# CSS Bootstrap #}
  {% bootstrap_css %} 

  {# Widget Tweaks #}
  {% load widget_tweaks %}
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th width="35%">Codigo de persona</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Identificación</th>
        <th>Dirección</th>
        <th>Edad</th>
        <th>Celular</th>
        <th>Fecha de nacimiento</th>            
        <th>Contraseña</th>
        <th>Sexo</th>
      </tr>
    </thead>
    <tbody>  
   
    {% for categoria in object_list %}
      <tr>
        <td>{{ categoria.field_idcliente}}</td>
        <td>{{ categoria.nombre }}</td>
        <td>{{ categoria.apellido }}</td>
        <td>{{ categoria.correo }}</td>
        <td>{{ categoria.telefono }}</td>
        <td>{{ categoria.identficacion }}</td>
        <td>{{ categoria.direccion }}</td>
        <td>{{ categoria.edad }}</td>
        <td>{{ categoria.celular }}</td>
        <td>{{ categoria.fechanacimiento }}</td>
        <td>{{ categoria.contrasena }}</td>
        <td>{{ categoria.sexo }}</td>
        <td>
   
          <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->                        
          <form method="POST" action="eliminar/{{postre.id}}">
            {% csrf_token %}
            <div class="btn-group">
              
              <a href="detalle/{{categoria.field_idcliente}}" title="Ver" type="button" class="btn btn-success">Ver </a>
              <a href="editar/{{categoria.field_idcliente}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
              
              <!-- Este botón ejecuta el formulario para eliminar un registro o postre en la Base de datos -->
              <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                Eliminar
              </button>
   
            </div>
          </form>
   
        </td>
      </tr>
    {% endfor %}
   
    </tbody>
  </table>
