{# Cargamos la librería #}
  {% load bootstrap4 %}
 
  {# CSS Bootstrap #}
  {% bootstrap_css %} 

  {# Widget Tweaks #}
  {% load widget_tweaks %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- {{ form.as_p }} -->
    <div class="form-group">
      <label for="idcomentarios" class="txt_negrita">Código comentarios</label>
      {{ form.idcomentarios|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
    </div>
    <div class="form-group">
      <label for="descripcion" class="txt_negrita">Descripción</label>
      {{ form.decripcion|add_class:"form-control" }}
    </div>


    <button type="submit" class="btn btn-primary">Aceptar</button>
    <a href="../" type="submit" class="btn btn-primary">Volver</a>
   
  </form>
