{# Cargamos la librería #}
  {% load bootstrap4 %}
 
  {# CSS Bootstrap #}
  {% bootstrap_css %} 

  {# Widget Tweaks #}
  {% load widget_tweaks %}

<h4>Detalles</h4>
 
<p><span class="txt_negrita">Codigo de comentarios:</span> <br> {{object.idcomentarios}}</p>
<p><span class="txt_negrita">Descripción:</span> <br> {{object.descripcion}}</p>
<p><span class="txt_negrita">Creado:</span> <br> {{object.created_at}}</p>
<p><span class="txt_negrita">Actualizado:</span> <br> {{object.updated_at}}</p>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center active">
    <p><span class="txt_negrita">Codigo de comentarios:</span> <br> {{object.idcomentarios}}</p>
      <span class="badge bg-secondary badge-pill">pill1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
      List item
      <span class="badge bg-secondary badge-pill">pill2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center disabled">
      Disabled item
      <span class="badge bg-secondary badge-pill">pill3</span>
  </li>
</ul>
 
<!-- Botón para volver a la vista principal (Home) -->
<a href="../" type="submit" class="btn btn-primary">Volver</a>



