{# Cargamos la librería #}
  {% load bootstrap4 %}
 
  {# CSS Bootstrap #}
  {% bootstrap_css %} 

  {# Widget Tweaks #}
  {% load widget_tweaks %}
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th width="35%">Codigo eventos</th>
        <th>Nombre</th>
        <th>Numerocontacto</th>
        <th>Horarioinicio</th>
        <th>Horariofinal</th>
        <th>Direccion</th>
        <th>Sitioweb</th>
        <th>Descripcion</th>
      </tr>
    </thead>
    <tbody>  
   
    {% for categoria in object_list %}
      <tr>
        <td>{{ categoria.ideventos}}</td>
        <td>{{ categoria.nombre }}</td>
        <td>{{ categoria.numerocontacto}}</td>
        <td>{{ categoria.horarioinicio }}</td>
        <td>{{ categoria.horariofinal }}</td>
        <td>{{ categoria.direccion }}</td>
        <td>{{ categoria.sitioweb}}</td>
        <td>{{ categoria.descripcion }}</td>
        <td>
   
          <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->                        
          <form method="POST" action="eliminar/{{postre.id}}">
            {% csrf_token %}
            <div class="btn-group">
              
              <a href="detalle/{{categoria.ideventos}}" title="Ver" type="button" class="btn btn-success">Ver </a>
              <a href="editar/{{categoria.ideventos}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
              
              <!-- Este botón ejecuta el formulario para eliminar un registro o postre en la Base de datos -->
              <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                Eliminar
              </button>
   
            </div>
          </form>
   
        </td>
      </tr>
    {% endfor %}
   
    </tbody>
  </table>
