{# Cargamos la librería #}
  {% load bootstrap4 %}
 
  {# CSS Bootstrap #}
  {% bootstrap_css %} 

  {# Widget Tweaks #}
  {% load widget_tweaks %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- {{ form.as_p }} -->
    <div class="form-group">
      <label for="idofertas" class="txt_negrita">Codigo ofertas</label>
      {{ form.idofertas|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
    </div>
    <div class="form-group">
      <label for="precios" class="txt_negrita">Precios</label>
      {{ form.precios|add_class:"form-control" }}
    </div>
    <div class="form-group">
        <label for="nombre" class="txt_negrita">Nombre</label>
        {{ form.nombre|add_class:"form-control" }}
    </div>
    <div class="form-group">
        <label for="fechainicio" class="txt_negrita">Fechainicio</label>
        {{ form.fechainicio|add_class:"form-control" }}
    </div>
    <div class="form-group">
        <label for="fechafinal " class="txt_negrita">Fechafinal</label>
        {{ form.fechafinal|add_class:"form-control" }}
    </div>
    <div class="form-group">
        <label for="descripcion " class="txt_negrita">Descripcion</label>
        {{ form.descripcion|add_class:"form-control" }}
    </div>

    <button type="submit" class="btn btn-primary">Aceptar</button>
    <a href="../" type="submit" class="btn btn-primary">Volver</a>
   
  </form>
