{# Cargamos la librería #}
   {% load bootstrap4 %}
 
   {# CSS Bootstrap #}
   {% bootstrap_css %} 

   {# Widget Tweaks #}
   {% load widget_tweaks %}

<form method="post" enctype="multipart/form-data">
  
    {# Pasamos el 'csrf_token' de seguridad para poder crear un nuevo registro #}
    {% csrf_token %}
    
    <!-- {{ form.as_p }} -->
    <div class="form-group">
      <label for="idofertas" class="txt_negrita">Codigo de ofertas</label>
      {{ form.idofertas|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
    </div>
    <div class="form-group">
      <label for="precios" class="txt_negrita">Precios</label>
      {{ form.nombre|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
    </div>
    <div class="form-group">
        <label for="nombre" class="txt_negrita">Nombre</label>
        {{ form.nombre|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
    </div>
    <div class="form-group">
        <label for="fechainicio" class="txt_negrita">Fecha inicio</label>
        {{ form.fechainicio|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
    </div>
    <div class="form-group">
        <label for="fechafinal" class="txt_negrita">Fecha final</label>
        {{ form.fechafinal|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
    </div>
    <div class="form-group">
      <label for="descripcion" class="txt_negrita">Descripcion</label>
      {{ form.descripcion|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
    </div>
    
    
    <button type="submit" class="btn btn-primary">Aceptar</button> 
    <a href="./" type="submit" class="btn btn-primary">Cancelar</a>
   
  </form>
   
