{# Cargamos la librería #}
  {% load bootstrap4 %}
 
  {# CSS Bootstrap #}
  {% bootstrap_css %} 

  {# Widget Tweaks #}
  {% load widget_tweaks %}

<h4>Detalles</h4>
 
<p><span class="txt_negrita">Codigo de reserva:</span> <br> {{object.idreservas}}</p>
<p><span class="txt_negrita">Estador:</span> <br> {{object.estador}}</p>
<p><span class="txt_negrita">Fechainicio:</span> <br> {{object.fechainicio}}</p>
<p><span class="txt_negrita">Fechafinal:</span> <br> {{object.fechafinal}}</p>
<p><span class="txt_negrita">Cliente:</span> <br> {{object.cliente}}</p>
<p><span class="txt_negrita">Comprobante:</span> <br> {{object.comprobante}}</p>
<p><span class="txt_negrita">Cupoadulto:</span> <br> {{object.descripcion}}</p>
<p><span class="txt_negrita">Cuponino:</span> <br> {{object.cuponiño}}</p>
<p><span class="txt_negrita">Telefono:</span> <br> {{object.telefono}}</p>
<p><span class="txt_negrita">Creado:</span> <br> {{object.created_at}}</p>
<p><span class="txt_negrita">Actualizado:</span> <br> {{object.updated_at}}</p>
 
<!-- Botón para volver a la vista principal (Home) -->
<a href="../" type="submit" class="btn btn-primary">Volver</a>
